*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    color: #fff;
}
html,
body{
    width: 100%;
    height: 100%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(77, 126, 77);
}
.penal{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}
.ptop{
    padding: 0px 20%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 80px;
    background-color: rgb(18, 119, 57);
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color: red; */
}
.box{
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 600;
    color:rgb(59, 230, 59);
    background-color: #fff;
    border-radius: 5px;
}
.elem h2{
    font-weight: 500;
    font-size: 22px;
}
.pbottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 80px);
}
.pbottom h1{
    color: black;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(72, 104, 72);
    color: #fff;
    font-weight: 500;
}  
.bubble:hover{
    background-color:rgb(50, 75, 50) ;
    cursor: pointer;
} 
    